.overscroll::-webkit-scrollbar{
        appearance: none;
}
.table{
    width: 100%;
    overflow-x: auto;
    table-layout: auto;
    :global(.ant-table-row){
        width: 100%;
        overflow-x: scroll;
        background-color:white;
        
    }
    ::-webkit-scrollbar{
            appearance: none;
    }
}